<template name="charts">
  <div class="container-fluid charts">
    <div class="row">
      <div class="chart1 col-md-9">

      </div>
      <div class="col-md-3 data-stuff">
        <h2>data stuff</h2>
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>

    <div class="row">
      <div class="chart2 col-md-9">

      </div>
      <div class="col-md-3 data-stuff">
        <h2>data stuff</h2>
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>

  </div>
</template>