<template name="landing">
  <div class="jumbotron">
    <div class="container">
      <h1>Building financial models</h1>
      <p>Build sophisticated financial models fast</p>
      <a class="btn btn-default btn-large" href="#" id="moreClick">Learn More</a>
    </div>
  </div> 
  <div class="learn-more">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Easy and fast</h3>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>
        <div class="col-md-4">
          <h3>Interactive, bitch</h3>
          <span class="glyphicon glyphicon-ok-sign"></span>
        </div>
        <div class="col-md-4">
          <h3>Investors on fire</h3>
          <span class="glyphicon glyphicon-fire"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="points" id="more">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <span class="glyphicon glyphicon-th"></span>
        </div>
        <div class="col-md-7">
          <h2>Interactive tutorial</h2>
          <h3>Build fully functional SAAS financial model in 5 minutes</h3>
          <a class="btn btn-default btn-large" href="#">Try it now!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <p>Prism Inc.</p>
    </div>
  </div>
</template>